.text-center{
    background-color: #CEDEBD;
}

.lead{
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Caveat', cursive;
}

span{
    color: #FAF1E4;
}

#bio{
    background-color: #b5b254;
}

#robot{
    width: 200px;
}